h1 {
    color: blueviolet;
}

p,
li {
    color: green;
}

a {
    color: red;
}

em {
    color: aquamarine;
}

li {
    list-style-type: square;
    /* you can change the style */
}

.special {
    color: orangered;
    font-weight: bold;
}

span.special {
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}