@import 'kamis-satu.css';

.kotak {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
}

body {
    color: whitesmoke;
    background-color: rgb(170, 164, 164);
}

@media (min-width: 30em) {
    body {
        background-color: rgb(180, 240, 180);
    }
}